*{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
    border: 2px solid black;
}

.left{
    width: 25vw;
    padding: 25px;
    background-color: #121212;
    margin: 10px;
    border-radius: 13px;
}

.right{
    width: 75vw;
    background-color: #121212;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 13px;
    padding: 18px 22px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    position: relative;
}

.uni{
    display: flex;
}

.home ul li{
    list-style: none;
    width: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #b3b3b3;
    cursor: pointer;
}

.home ul li:hover{
    color: white;
    transition: 0.2s all ease-in-out;
}

.inv{
    filter: invert(1);
}

.pd{
    padding-bottom: 30px;
}

.home{
    margin: 6px;
}

.lib{
    display: flex;
    align-items: center;
    gap: 19px;
    font-size: 20px;
    font-weight: 700;
    color: #b3b3b3;
}

.lib:hover{
    color: white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.lib img{
    width: 30px;
}

.symbols img{
    width: 22px;
}

.pus{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.symbols{
    display: flex;
}

.down{
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: 38.5vw;
}

.ents{
    font-size: 20px;
    font-weight: 700;
    color: #b3b3b3;
}

.ents:hover{
    color: white;
    cursor: pointer;
    font-size: 21px;
    transition: 0.2s all ease-in-out;
}

.two img{
    width: 22px;
}

.sym{
    gap: 10px;
}

.buts button img{
    width: 20px;
}

.buts button{
    border: none;
    background-color: rgba(0, 0, 0, .7);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.buts{
    display: flex;
    gap: 8px;
    align-items: center;
}

/* .sahil img{
    width: 20px;
} */

.sahil button{
    border: none;
    background-color: rgba(0, 0, 0, .7);
    /* padding: 2px; */
    border-radius: 50%;
    cursor: pointer;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sahil{
    display: flex;
    gap: 10px;
}

.gay img{
    width: 100%;
    border-radius: 50%;
}

.imp{
    width: 35px;
}

.sahil .pdi{
    padding: 10px;
}

.gud{
    font-size: 40px;
    font-weight: bolder;
}

.cards{
    width: 22vw;
    height: 55px;
    /* border: 2px solid white; */
    /* display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    align-items: center;
}

.game{
    display: flex;
    flex-direction: column;
    gap: 25px;    
}

.what{
    border: none;
    border-radius: 4px;
    background-color: #242424;
    
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-radius: 10px; */
    font-weight: 700;
    font-size: 17px;
    overflow: hidden;
}

.what:hover{
    background-color: hsla(0, 0%, 100%, .3);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.made{
    font-size: 32px;
    font-weight: bolder;
}

.primo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    display: flex;
    gap: 15px;
}

.box img{
    width: 220px;
    border-radius: 8px;
}

.box{
    width: 200px;
    border: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 19px;
    font-weight: 600;
    background-color: transparent;
}

.box:hover{
    background-color: #242424;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.playbar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* border: 2px solid white; */
    right: 4px;
    padding: 20px 12px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
}

.bien{
    background-color: black;
    border: none;
}

.play .btnn{
    display: flex;
    gap: 25px;
}

.play .btnn button{
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.bar{
    width: 35.5vw;
    border-radius: 8px;
    height: 6px;
    /* background-color: #242424;
     */
     background-color: #fff;
    border: none;
    position: relative;
    cursor: pointer;
}

.play{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.songList ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 22px 8px;
    border-radius: 5px;
    height: 40px;
    overflow: hidden;
    font-size: 19px;
    position: relative;
}

.songList ul li:hover{
    cursor: pointer;
    background-color: #242424;
}

.cv{
    display: flex;
    align-items: center;
}

.cv button{
    background-color: #1ed760;
    border: none;
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    transition: 1s all ease-in-out;
}

.songList ul li img{
    border-radius: 5px;
}

.tits{
    color: #b3b3b3;
    font-size: 18px;
}

.artists{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.circle{
    height: 11px;
    width: 11px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -5px;
    left: -1px;
    cursor: pointer;
    transition: left 0.3s;
} 

.durat{
    display: flex;
    gap: 15px;
    align-items: center;
    color: #b3b3b3;
}

.info{
    display: flex;
    align-items: center;
    gap: 12px;
    /* border: 2px solid white; */
    border: none;
    width: 25vw;
    padding: 10px;
    position: absolute;
    left: 40px;
}

.hey{
    font-size: 19px;
    font-weight: 500;
    color: white;
}

.tds{
    font-size: 16px;
    color: #b3b3b3;
}

.sub{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info img{
    border-radius: 5px;
}